Repository SovereignCloudStack/cluster-stack-operator, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/code, area/api, area/github, area/hack, area/test, area/templates, Container

.github/labeler.yaml:

---
area/code:
  - changed-files:
      - any-glob-to-any-file: "controllers/**/*"
      - any-glob-to-any-file: "pkg/**/*"
area/api:
  - changed-files:
      - any-glob-to-any-file: "api/**/*"
      - any-glob-to-any-file: "config/crd/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
      - any-glob-to-any-file: "Makefile"
area/test:
  - changed-files:
      - any-glob-to-any-file: "test/**/*"
area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"
Container:
  - changed-files:
      - any-glob-to-any-file: '**'

add webhooks
  Makefile
  Tiltfile
  api/v1alpha1/cluster_webhook.go
  api/v1alpha1/clusteraddon_webhook.go
  api/v1alpha1/clusterstack_webhook.go
  api/v1alpha1/clusterstackrelease_webhook.go
  api/v1alpha1/webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/default/kustomization.yaml
  config/localmode/kustomization.yaml
  config/webhook/manifests.yaml
  go.mod
  internal/controller/clusteraddon_controller_test.go
  internal/controller/clusteraddoncreate_controller_test.go
  internal/controller/clusterstack_controller_test.go
  internal/controller/clusterstackrelease_controller_test.go
  internal/controller/controller_suite_test.go
  internal/test/helpers/envtest.go
  internal/test/helpers/webhook.go
  pkg/kube/mocks/KFactory.go
  pkg/workloadcluster/fake/restconfig.go
  vendor/github.com/MakeNowJust/heredoc/LICENSE
  vendor/github.com/MakeNowJust/heredoc/README.md
  vendor/github.com/MakeNowJust/heredoc/heredoc.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/util/yaml/yaml.go
Labels: area/code, area/api, area/hack, Container

bump kustomize to v5.4.2 version
  Makefile
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/default/webhookcainjection_patch.yaml
  config/localmode/kustomization.yaml
  config/localmode/webhookcainjection_patch.yaml
  config/manager/kustomization.yaml
  config/rbac/kustomization.yaml
  config/webhook/kustomization.yaml
Labels: area/api, area/hack, Container

sync helm version and remove format-yaml
  .github/renovate/groups.json5
  Makefile
  Tiltfile
  images/builder/Dockerfile
Labels: area/github, area/hack, Container

🌱 Create a Generic client to download release assets
  api/v1alpha1/conditions_const.go
  cmd/main.go
  internal/controller/clusteraddon_controller.go
  internal/controller/clusterstack_controller.go
  internal/controller/clusterstackrelease_controller.go
  internal/controller/controller_suite_test.go
  internal/test/helpers/envtest.go
  internal/test/integration/github/integration_suite_test.go
  internal/test/integration/github/integration_test.go
  internal/test/integration/workloadcluster/controller_suite_test.go
  pkg/assetsclient/client.go
  pkg/assetsclient/fake/client.go
  pkg/assetsclient/github/client.go
  pkg/assetsclient/github/credentials.go
  pkg/assetsclient/mocks/Client.go
  pkg/assetsclient/mocks/Factory.go
  pkg/assetsclient/mocks/assetsFactory.go
  pkg/github/client/fake/github_client.go
  pkg/github/client/mocks/Client.go
  pkg/github/client/mocks/gfactory.go
  pkg/kube/mocks/kFactory.go
  pkg/workloadcluster/mocks/Client.go
  pkg/workloadcluster/mocks/Factory.go
Labels: area/code, area/api, Container

enable CI on addons branch (#52)
  .github/workflows/build.yml
  .github/workflows/kubebuilder-markers-checker.yml
  .github/workflows/pr-lint.yml
  .github/workflows/test.yml
Labels: area/github, Container

🐛 Fix hook server service account and scheme
  extension/config/default/sa-roles.yaml
  extension/go.mod
  extension/go.sum
  extension/handlers/hooks.go
  extension/main.go
  extension/vendor/github.com/SovereignCloudStack/cluster-stack-operator/api/v1alpha1/clusterstack_types.go
  extension/vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/version/channel.go
  extension/vendor/github.com/SovereignCloudStack/cluster-stack-operator/pkg/version/version.go
  extension/vendor/modules.txt
Labels: Container

✨ Add manual upgrade if no k8s version is changed (#33)
  api/v1alpha1/clusteraddon_types.go
  config/crd/bases/clusterstack.x-k8s.io_clusteraddons.yaml
  internal/controller/clusteraddon_controller.go
  test/cluster-stacks/docker/ferrol/1-27/cluster-addon/metrics-server/overwrite.yaml
Labels: area/api, area/test, Container

Update spec.cluster stack only after after controlplane is initialized and after cluster upgrade
  internal/controller/clusteraddon_controller.go
Labels: Container

use scs capd image while using docker provider
  Makefile
  Tiltfile
  capd.yaml
Labels: area/hack, Container

Update kustomization var names
  config/certmanager/certificate.yaml
  config/default/kustomization.yaml
  config/hookserver/extensionconfig.yaml
Labels: Container

Remove helmchartstatus after hook is finished
  .yamllint.yaml
  internal/controller/clusteraddon_controller.go
Labels: Container

Add debug logs for the multi stage addon
  internal/controller/clusteraddon_controller.go
  pkg/kube/kube.go
Labels: area/code, Container

:sparkles: Add status resources for the helm charts
  internal/controller/clusteraddon_controller.go
  pkg/kube/fake/kube.go
  pkg/kube/kube.go
  pkg/kube/mocks/Client.go
Labels: area/code, Container

:bug: Fix overwrite yaml support
  internal/controller/clusteraddon_controller.go
  pkg/release/release.go
  test/cluster-stacks/1/docker/ferrol/1-27/cluster-addon/metrics-server/overwrite.yaml
  test/cluster-stacks/2/docker/ferrol/1-27/cluster-addon/metrics-server/overwrite.yaml
Labels: area/code, area/test, Container

:seedling: Remove kubernetes version from cluster addon api
  api/v1alpha1/clusteraddon_types.go
  config/crd/bases/clusterstack.x-k8s.io_clusteraddons.yaml
  internal/controller/clusteraddon_controller.go
Labels: area/api, Container

:seedling: Remove status.currentHook from the cluster addon
  api/v1alpha1/clusteraddon_types.go
  config/crd/bases/clusterstack.x-k8s.io_clusteraddons.yaml
  internal/controller/clusteraddon_controller.go
  internal/test/integration/workloadcluster/cluster_addon_test.go
Labels: area/api, Container

Fix untar of old cluster stacks
  api/v1alpha1/clusteraddon_types.go
  internal/controller/clusteraddon_controller.go
  pkg/kube/helpers.go
  pkg/kube/kube.go
  pkg/release/release.go
  test/cluster-stacks/2/docker/ferrol/1-27/clusteraddon.yaml
  test/cluster-stacks/2/docker/ferrol/1-27/csmctl.yaml
Labels: area/code, area/api, area/test, Container

:seedling: Refactor HelmChartStatus
  api/v1alpha1/clusteraddon_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/clusterstack.x-k8s.io_clusteraddons.yaml
  internal/controller/clusteraddon_controller.go
  test/cluster-stacks/2/docker/ferrol/1-27/clusteraddon.yaml
  test/cluster-stacks/2/docker/ferrol/1-27/csmctl.yaml
Labels: area/api, area/test, Container

:bug: Fix reset of HelmChartStatus of ClusterAddon
  internal/controller/clusteraddon_controller.go
Labels: Container

:seedling: Clean up resources on upgrade without k8s change
  internal/controller/clusteraddon_controller.go
Labels: Container

:bug: Fix lint and bugs
  .yamllint.yaml
  api/v1alpha1/clusteraddon_types.go
  api/v1alpha1/conditions_const.go
  cmd/main.go
  config/crd/bases/clusterstack.x-k8s.io_clusteraddons.yaml
  config/localmode/kustomization.yaml
  config/localmode/manager_hookserver_patch.yaml
  extension/handlers/hooks.go
  extension/hooks.go
  go.mod
  internal/controller/clusteraddon_controller.go
  internal/controller/clusterstack_controller.go
  pkg/clusteraddon/clusteraddon.go
  pkg/kube/helpers.go
  pkg/kube/kube.go
  pkg/release/release.go
  test/cluster-stacks/2/docker/ferrol/1-27/clusteraddon.yaml
Labels: area/code, area/api, area/test, Container

Delete failed to evaluate CEL condition on success
  internal/controller/clusteraddon_controller.go
Labels: Container

:seedling: Add Finalizer for ClusterAddon object
  internal/controller/clusteraddon_controller.go
Labels: Container

:seedling: Set clusterAddon on ready only if required
  internal/controller/clusteraddon_controller.go
Labels: Container

Rename helmChartName to Name
  api/v1alpha1/clusteraddon_types.go
  config/crd/bases/clusterstack.x-k8s.io_clusteraddons.yaml
  internal/controller/clusteraddon_controller.go
  internal/test/integration/workloadcluster/controller_suite_test.go
  pkg/clusteraddon/clusteraddon.go
  test/cluster-stacks/1/docker/ferrol/1-27/clusteraddon.yaml
  test/cluster-stacks/2/docker/ferrol/1-27/clusteraddon.yaml
  test/releases/cluster-stacks/docker-ferrol-1-27-v0-sha-hipstsw/clusteraddon.yaml
Labels: area/code, area/api, area/test, Container

:seedling: Add condition if waiting for hook server
  api/v1alpha1/conditions_const.go
  internal/controller/clusteraddon_controller.go
Labels: area/api, Container

:sparkles: Add condition for Helm operations
  api/v1alpha1/conditions_const.go
  internal/controller/clusteraddon_controller.go
Labels: area/api, Container

Add reset of hook server in case where an upgrade happens that does not update the Kubernetes version
  internal/controller/clusteraddon_controller.go
Labels: Container
